.document__sidebar {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 300px;
  height: 100vh;
  overflow-y: scroll;
  background-color: #111827;
}
.sidebar__title {
  padding: 15px 25px;
  text-align: center;
  font-size: 25px;
  color: #767070;
  text-decoration: underline;
}
.sidebar__item {
  cursor: pointer;
  margin-top: 15px;
  color: #ccc;
  font-weight: 900;
  font-size: 25px;
}
.document__content{
  width: auto 100%;
  background-color: red;
  height: 80vw;
}